.bikes_Title {
  background-image: url(../assets/bikesTitle.png);
  background-size: 100%;
  background-repeat: none;
  background-position: center;
  width: 1250px;
  border-style: solid;
  border-color: #4f6367;
  border-width: 0.1em;
  height: 100px;
  padding: 1em;
  padding: white;
  margin-bottom: 1em;
}

.grid-container {
  width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "sidebar bikes-list bikes-list bikes-list bikes-list" "sidebar bikes-list bikes-list bikes-list bikes-list" "sidebar bikes-list bikes-list bikes-list bikes-list" "sidebar bikes-list bikes-list bikes-list bikes-list" "sidebar bikes-list bikes-list bikes-list bikes-list" "sidebar bikes-list bikes-list bikes-list bikes-list";
  /* border-color: #fe5f55;
  border-style: solid;
  border-width: 1px; */
  padding-right: 1em;
}

.sidebar {
  display: grid;
  background-color: EEF5DB;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "CheckBoxSection" "BLANK";
  grid-area: sidebar;
  /* border-color: #fe5f55; 
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-bottom: none; */
}

.CheckBoxSection {
  /* display: grid;  */
  align-items: flex-start;
  height: 35em;
  background-color: #eef5db;
  border-width: 1px;
  border-style: solid;
  border-color: #fe5f55;
  grid-area: CheckBoxSection;
  grid-template-columns: 1fr;
  gap: 1px 1px;
  grid-template-areas: ".";
  text-align: left;
  padding: 1em;
  margin-top: 25px;
}

.CheckBoxSection h2 {
  color: #fe5f55
}
.BLANK {
  display: grid;
  grid-area: BLANK;
  border-color: #fe5f55;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-top: none;
}

.bikes-list {
  display: grid;
  /* background-color: #eef5db; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . .";
  grid-area: bikes-list;
  font-size: x-large;
  list-style-type: none;
  /* border-width: 1px;
  border-style: solid;
  border-color: #fe5f55; */
}

.bikes-list p{
  font-size: 16px;
}

.bike_image {
  height: 250px;
  width: 245px;
  border-color: #fe5f55;
  border-style: solid;
  border-width: 1px;
  border-right: none;
  border-left: none;
  border-top: none;
}
.bike_item {
  background-color: #eef5db;
  border-color: #fe5f55;
  border-style: solid;
  border-width: 1px;
}

.submit {
  background-color: #4f6367;
  color: white;
  border-color:white;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  padding: 8px;

}

.submit:hover{
  color: black;
  text-shadow: -2px 2px 2px white;
  cursor: pointer;
}

