.donateMoney_Title {
	background-image: url(../assets/makeADonationTitle.png);
	background-size: 100%;
	background-repeat: none;
	background-position: center;
	border-style: solid;
	border-color: #4f6367;
	border-width: 0.1em;
	height: 100px;
	color: green;
	padding: 1em;
	padding: white;
	margin-bottom: 1em;
  }
  .donateBike_Title {
	background-image: url(../assets/donateABikeTitle.png);
	background-size: 100%;
	background-repeat: none;
	background-position: center;
	border-style: solid;
	border-color: #4f6367;
	border-width: 0.1em;
	height: 100px;
	color: green;
	padding: 1em;
	padding: white;
	margin-bottom: 1em;
  }


.donation-container {
	height: 550px;
	width: 100%;
	font-size: 20px;
	background-color: beige;
	border-style: solid;
	border-color: #fe5f55;
}
.amount-button_thirty {
	font-size: 1.5em;
	width: 5em;
    height: 3em;
	font-weight: bold;
    background-color:  #fe5f55;
    color: #fff;
    border-radius: 5px;
    border: 0;
    padding: 0;
	margin-top: 8px;
	cursor: pointer;
	padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
.amount-button_fifty {
	font-size: 1.5em;
	width: 5em;
    height: 3em;
	font-weight: bold;
    background-color:  #fe5f55;
    color: #fff;
    border-radius: 5px;
    border: 0;
    padding: 0;
	margin-top: 8px;
	cursor: pointer;
	padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
.amount-button_hundred{
	font-size: 1.5em;
	width: 5em;
    height: 3em;
	font-weight: bold;
    background-color: #fe5f55;
    color: #fff;
    border-radius: 5px;
    border: 0;
    padding: 0;
	margin-top: 8px;
	cursor: pointer;
	padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
.amount-other{
	font-size: 1.5em;
	width: 10em;
    height: 3em;
	font-weight: bold;
    background-color: #fe5f55;
    color: #fff;
    border-radius: 5px;
    border: 0;
	/* margin: 8px auto auto auto; */
	cursor: pointer;
	padding: 26px;
    border-width: 2px;
	border-style: outset;
	border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
	border-image: initial;
	border-radius: 5px;
}

.custom{
	border-radius: 5px;
	width: 4em;
	margin: 10px;
	font-size: .7em;
	height: 2.0em;
	padding: 10px;
}
.support{
	font-size: 1.25em;
	font-weight: bold;
}
.personal-info{
	margin: 10px;
}
.personal-info_label{
	display: inline-block;
    float: center;
    width: 10em;
    text-align: right;
	margin-left: .5em;
	padding: 5px;
}
.donation-box {
	text-align: center;
	/* width: 390px; */
	height: 386px;
	/* background-color: #F5F5F5; */
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.donate-button {
	font-size: 1.5em;
	width: 20em;
    height: 3em;
	background-color: #fe5f55;
	cursor: pointer;
	font-weight: bold;
    color: #fff;
    border-radius: 5px;
    border: 0;
	margin-top: 8px;
	padding: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

.donate-bike-button {
	font-size: 1.5em;
	width: 20em;
    height: 3em;
	background-color: #fe5f55;
	cursor: pointer;
	font-weight: bold;
    color: #fff;
    border-radius: 5px;
    border: 0;
	margin-top: 8px;
	padding: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
.confirmPassword  {
    visibility: visible;
  }
