.faq_Title {
  background-image: url(../assets/faqTitle.png);
  background-size: 100%;
  background-repeat: none;
  background-position: center;
  border-style: solid;
  border-color: #4f6367;
  border-width: 0.1em;
  height: 100px;
  color: green;
  padding: 1em;
  padding: white;
  margin-bottom: 1em;
}
.accordion_menu{
border-style: solid;
border-color: #4f6367;
margin-bottom: 1em;

}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    font-size: 1em;
    background-color: #7A9e9f;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 1.4s;
  }
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #b8d8d8;
    font-weight: bold;
    color: #fe5f55;
  }
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #fe5f55;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: #fe5f55;
  }
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    /* display: none; */
    padding: 0 18px;
    color: #fe5f55;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }

  .faq_p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: left;
      /* padding: px; */
      font-size: 1em;
  }
  .faq_p_li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: left;
      list-style-type: circle;
      list-style-position: inside;
      font-size: .9em;
      padding-left: 30px;
  }