#footer {
  clear: both;
  position: sticky;
  border: 0.25em solid white;
  background-color: #7a9e9f;
  color: white;
  text-align: center;
  height: 300px;
  width: 100%;
  margin: 0em;
  border-right: none;
  border-left: none;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

#footer section {
  width: 35%;
  height: 100%;
  padding: 10px;
}
#footer section:first-child {
  background-color: #7a9e9f;
  float: left;
}

#footer section:nth-child(2) {
  background-color: #7a9e9f;
  float: right;
  width: 40%;
}
#footer section:last-child {
  background-color: #7a9e9f;
  margin: auto;
}
#footer li {
  list-style-type: none;
  color: #4f6367;
}
#footer-list-sections {
  font-size: 16px;
}
#address {
  font-size: 16px;
}
#contact {
  font-size: 16px;
}
#subscribe {
  font-size: 24px;
}

.social-list {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  text-shadow: -5px 0px 2px black;
}

.fa {
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  transition: 0.2s;
  text-shadow: -2px 2px 8px black;
}

.fa-facebook a:link {
  text-decoration: none;
  background: none;
  color: white;
}

.fa-twitter a:link {
  text-decoration: none;
  background: none;
  color: white;
}

.fa-instagram a:link {
  text-decoration: none;
  background: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}

section h3 {
  font-size: 18px;
  text-shadow: -2px 1px 1px black;
}

#footer-list-sections :hover {
  text-shadow: -2px 1px 1px black;
}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

section a:hover {
  text-shadow: -2px 1px 1px black;
}

.social-list {
  padding: 0em;
  margin: 0em;
}
