.index_title {
  /*mirror of home_content*/
  background-image: url(../assets/indexTitle11.png);
  background-size: 100%;
  background-repeat: none;
  background-position: center;
  border-style: solid;
  border-color: #4f6367;
  border-width: 0.1em;
  height: 100px;
  color: green;
  padding: 1em;
  padding: white;
  margin-bottom: 1em;
}

.howItWorks {
  background-image: url(../assets/howItWorks.png);
  background-size: 100%;
  background-position: center;
  background-repeat: none;
  border-style: solid;
  border-color: #4f6367;
  border-width: 0.1em;
  height: 475px;
  margin-bottom: 1em;
}

.donateABikeLink {
  height: 170px;
  width: 190px;
  z-index: 1;
  margin-left: 280px;
  margin-top: 12em;
  cursor: pointer;
}

.bikesLink {
  height: 170px;
  width: 190px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: -7em;
  cursor: pointer;
}

.sponsors {
  background-image: url(../assets/backgroundCloudImageFlipped2.png);
  background-size: 100%;
  background-repeat: none;
  background-position: bottom;
  border-style: solid;
  height: 475px;
  color: #fe5f55;
  border-color: #4f6367;
  margin-bottom: 2em;
}

.sponsors_scroll {
  display: inline-block;
}

.sponsor_logo {
  height: 100px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #fe5f55;
}
