#app {
    margin: 2rem auto;
    max-width: 90%;
    min-height: 75vh;
    width: 1000px;
    text-align: center;
}

.header{
    margin: 1rem auto;
    top: 0;
    left: 0;
    width: 100%;
    flex-flow: row;
    justify-content: center;
    text-align: center;
    background-color: lightsalmon;
}
.logo-image{
    position: relative;
float: left;
    width: 25%;
    height: auto
}
.home-header{
    display: inline;
    font-size: 6em;
    margin-bottom: 0em;
    /* position: absolute; */
    top: 1rem;
    text-shadow: 2px 2px 7px white;
    background-color: lightsteelblue;
}
.home-subhead{
    font-size: 2em;
    margin-top: 0em;
    /* position: absolute; */
    top: 18rem;   
    text-shadow: 2px 2px 7px white;
}
.nav-list{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: lime;
    margin: 1rem auto;
    top: 0;
    left: 0;
    width: 100%;
    flex-flow: row;
    justify-content: center;
    text-align: center;
    padding: 2em;
}






.nav-list li{
    float: none;
    display: outside;
    background: lime;
    margin: 0 5px;
    padding: 2em;
    outline: 0rem;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}








.footer{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    max-width: 90%;
    width: 900px;
}

.social-list{
    display: flex;
    justify-content: space-around;
    width: 75%;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }


  /* Grid for Bikes Page */
  .grid-container {
      width: 1300px;
    background-color: #EEF5DB;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "sidebar bikes-list bikes-list bikes-list bikes-list" "sidebar bikes-list bikes-list bikes-list bikes-list" "sidebar bikes-list bikes-list bikes-list bikes-list" "sidebar bikes-list bikes-list bikes-list bikes-list" "sidebar bikes-list bikes-list bikes-list bikes-list" "sidebar bikes-list bikes-list bikes-list bikes-list";
  }

  .sidebar {
    display: grid;
    background-color: EEF5DB;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "CheckBoxSection" "BLANK";
    grid-area: sidebar;
  }
  
.CheckBoxSection{
    /* display: grid; */
    align-items: baseline ;
    /* background-color: aquamarine; */
    background-color: EEF5DB;
    grid-area: CheckBoxSection;    
    grid-template-columns: 1fr;
    gap: 1px 1px;
    grid-template-areas: ".";
    text-align: left;
    padding: 1em ;
}
.BLANK { 
    display: grid;
    grid-area: BLANK; 
}

  .bikes-list{
    display: grid;
    background-color: #EEF5DB;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . .";
    grid-area: bikes-list;    
    font-size: x-large;
  }

.bike_image{
    height: 250px;
    width: 245px

}
.bike_item{
    border: 1px solid rgba(0, 0, 0, 0.8); 
}
   




    
