#app {
    margin: 2rem auto;
    max-width: 90%;
    min-height: 75vh;
    width: 1000px;
    text-align: center;
}


.header{
    margin: 2rem auto;
    max-width: 90%;
    width: 1000px;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.nav-list ul li{
    float: none;
    display: outside;
    background: black;
    margin: 0 5px;
}


/* .nav-list_support > ul li{
    position: absolute;
    top: 90px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
   
} */

/* .nav-list_support:hover > ul li{
    top: 100px;
    opacity: 1;
    visibility: visible;
    position: relative;
    display: list-item;
    color: white;
    text-decoration: none;
    line-height: 25px;
   

} */


.footer{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    max-width: 90%;
    width: 900px;
}

.social-list{
    display: flex;
    justify-content: space-around;
    width: 75%;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }



/* .books-list{
    align-items: center;
    display: flex;
    flex-direction: column; */
