* {
  margin: 0; /*required for header to be at top of page*/
}

#app {
  /* content information container*/
  margin: 2rem auto;
  max-width: 90%;
  min-height: 75vh;
  width: 1000px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
}

.header {
  /* no value for header at this time */
  background-color: lightsalmon;
}

.logo {
  margin: 0;
  padding: 0em;
  display: absolute;
}
.logo-image {
  position: absolute;
  margin: 0;
  margin-top: 1em; /* logo position from top*/
  width: 20%;
  height: auto; /* height of actual logo*/
}

.navigation {
  margin-left: 500px;
  margin-top: 150px;
}
.nav-list {
  display: flex;
  list-style-type: none; /*bullet points*/
  margin: 0em;
  height: 200px; /* size of navbar height */
  width: 100%;
  background-color: #7a9e9f;
  flex-flow: row;
  justify-content: left; /* position of where content is on entire page */
  text-align: center; /*text in line position*/
  padding: 1em;
  border-style: solid;
  border-width: 0.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: white;
}

.nav-list li {
  background: #7a9e9f;
  color: white;
  text-shadow: -2px 1px 1px black;
  display: inline;
  margin-top: 150px; /*position where items are from top of page */
  margin-left: 25px;
  margin-right: 25px;
  padding-left: em;
  padding-right: em;
  outline: 0rem;
  font-size: 26px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 0px;
}
.nav-list li h2 {
  background: #7a9e9f;
  color: white;
  text-shadow: -2px 1px 1px black;
  display: inline;
  margin-top: 150px; /*position where items are from top of page */
  font-size: 26px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav-list li h2:hover {
  transition: 0.2s;
  border-radius: 25%;
  font-size: 30px;

  background-color: #4f6367;
}

.home-header {
  position: static;
  display: inline;
  font-size: 20em;
  margin-top: 0em;
  /* position: absolute; */
  top: 1rem;
  text-shadow: 2px 2px 7px white;
  background-color: lightsteelblue;
}
.home-subhead {
  font-size: 2em;
  margin-top: 0em;
  /* position: absolute; */
  top: 18rem;
  text-shadow: 2px 2px 7px white;
}

h1,
h2,
h3,
h4 {
  margin: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#footer {
  clear: both;
  width: 110%;
  border: .5em solid white;
  border-left: none;
  border-right: none;
  background-color: #7a9e9f;
  color: white;
  text-align: center;
  height: 300px;

}
#footer section{
  width: 35%;
  height: 100%;
  padding: 10px;
  
}
#footer section:first-child{
  background-color: #7a9e9f;
  float: left;
 
 
}

#footer section:nth-child(2){
  background-color: #7a9e9f;
  float: right;
  width: 40%;
}
#footer section:last-child{
  background-color: #7a9e9f;
  margin: auto;
 
}
#footer li{
  list-style-type: none;
  color: #4f6367;
}
#footer-list-sections{
  font-size: 12px;
}
#address{
  font-size: 12px;
}
#contact{
  font-size: 12px;
}
#subscribe{
  font-size: 24px;
}


.social-list {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  text-shadow: -5px 0px 2px black;
}

.fa {
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: none;
  color: white;
}

.fa-twitter {
  background: none;
  color: white;
}

.fa-instagram {
  background: none;
  color: white;
}

/*  */
.bikes-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: x-large;
}
.bike_image {
  height: 250px;
  width: 245px;
}
.bike_item {
  border: 1px solid rgba(0, 0, 0, 0.8);
}
