.ourMission_Title {
  background-image: url(../assets/ourMissionTitle.png);
  background-size: 100%;
  background-repeat: none;
  background-position: center;
  border-style: solid;
  border-color: #4f6367;
  border-width: 0.1em;
  height: 100px;
  color: green;
  padding: 1em;
  padding: white;
  margin-bottom: 1em;
}

#missionp1 {
  float: left;
  margin-left: 25px;
  margin-top: 2em;
  padding: 0.5em;
  border: 1px black solid;
  width: 70%;
  border-radius: 20px/10px;
  box-shadow: -10px -10px 0px black;
  background-color: #fe5f55;
  color: white;
}

#missionp2 {
  float: right;
  margin-right: 25px;
  padding: 0.5em;
  border: 1px black solid;
  width: 70%;
  border-radius: 20px/10px;
  box-shadow: 10px 0px 0px black;
  background-color: #fe5f55;
  color: white;
}
#missionp3 {
  float: left;
  margin-left: 25px;
  padding: 0.5em;
  border: 1px black solid;
  width: 70%;
  border-radius: 20px/10px;
  box-shadow: -10px 10px 0px black;
  background-color: #fe5f55;
  color: white;
  margin-bottom: 2em;
}

.mission-image1 {
  float: right;
  /* margin: 0px; */
  width: 250px;
  margin-right: 25px;
  border-radius: 5%;
  border: 1px black solid;
  margin-top: 2em;
  box-shadow: 10px -10px 0px #b8d8d8;
}

.mission-image2 {
  float: left;
  width: 250px;
  margin-left: 25px;
  border-radius: 5%;
  border: 1px black solid;
  box-shadow: -10px 0px 0px #b8d8d8;

  margin-top: 1em;
}
.mission-image3 {
  float: right;
  /* margin: 0px; */
  width: 250px;
  margin-right: 25px;
  border-radius: 5%;
  border: 1px black solid;
  margin-top: 1em;
  box-shadow: 10px 10px 0px #b8d8d8;
}
.missionbody {
  /* background-color: #b8d8d8; */
}
