*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1, h2, h3, h4{
    margin: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#app{
    background-color: #999;
    border-radius: 8px;
    font-size: 24px;
}

.page-image{
    height: 50%;
    width: 75%;;
}

.nav-list li{
    background-color:black;
    border-radius: 10px;
    color: #FFF;
    list-style-type: none;
    padding: 1rem;
}

.nav-list li:hover{
    background-color: lightblue;
    color: #888;
    transition: .5s;
}

.hashTags-list{
    margin: 1rem;
}

.books-list__title{
    margin: 1rem;
    font-size: 20px;
}

.books-list__title:hover{
    background-color: #DDD;
    border-radius: 6px;
    transition: .5s;
    width: 50%;
}

.add-hashtag__name, .add-hashtag__bookSubmit{
    margin: 2rem;
    font-size: 20px;   
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

 