/* //Here is where you change the background image for all
body{
    background-image: url(/assets/body.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: bold;
} */