.nav-list_support > ul li {
  position: absolute;
  top: 10px;
  left: -10px;
  visibility: hidden;
  transition: top 0.3s;
  padding: 0em;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.nav-list_support:hover > ul li {
  /*support dropdown items*/
  list-style-type: none;
  margin: 0px; /* space in between links */
  /*fix white border on boxes*/
  visibility: visible;
  position: relative;
  display: list-item;
  color: white;
  padding: 1em;
}
