.nav-list_support:hover > ul li{
    top: 25px;
    opacity: 1;
    visibility: visible;
    position: relative;
    display: list-item;
    color: white;
    text-decoration: none;
    line-height: 25px;

}

.nav-list_support > ul li{
position: absolute;
top: 90px;
border-top: 3px solid cyan;
opacity: 0;
visibility: hidden;
transition: top .3s;
}