.volunteer_Title{
    background-image: url(../assets/volunteerTitle.png);
    background-size: 100%;
    background-repeat: none;
    background-position: center;
    border-style: solid;
    border-color: #4f6367;
    border-width: 0.1em;
    height: 100px;
    color: green;
    padding: 1em;
    padding: white;
    margin-bottom: 1em;
}

.main{
    
    height: 550px;
	width: 90%;
	font-size: 20px;
	padding: 24px;
	margin: 30px auto 30px auto;
	background-color: beige;
	border-style: solid;
	border-color: #fe5f55;
    
    
}
form{
    padding: 10px;
    
}
#volunteer{
    display: inline-table;
    margin-right: 0em;
    margin-left: -100px;
   
}
.label{
    display: inline-table;
    float: center;
    width: 10em;
    text-align: right;
    margin-left: 1em;
    margin-right: 20px;
}

.form-div{
    border-color: #fe5f55;
}


#weekdays{
    color: black;
    margin-left: 220px;
}
.days{
    font-size: 20px;
}
#weekday{
    font-size: 16px;
}
#submit{
    width: 20em;
    height: 3em;
    background-color: #fe5f55; 
    font-weight: bold;
    color: #fff;
    font-size: 0.8em;
}

