.volunteer-title{
    width: 800px;
    background-color: #7a9e9f;
    margin: auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;

}
.main{
    background-color: #eef5d8;
    width: 800px;
    margin: auto;
    
    
}
form{
    padding: 10px;
}

#name{
    width: 100%;
    
}


#weekdays{
    color: black;
}
#submit{
    width: 20em;
    height: 3em;
    background-color: #fe5f55; 
}

